{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Documento - Painel de Controle {% endblock %} 

{% block head %}
<!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">

<!-- Select2 -->
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">

<!-- Bootstrap4 Duallistbox -->
<link rel="stylesheet" href="{% static 'plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css' %}">
{% endblock %}

{% block layouts %}

    {% include 'layouts/navbar.html' %}

    {% include 'layouts/sidebar.html' %}

{% endblock %}

{% block content %}
{% load widget_tweaks %}
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
    <br>
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

      <div class="card">
        <div class="card-header">
          <h3 class="card-title"> <label>{{ documento.titulo }}</label></h3>
        </div>
        <div class="card-body">
          <p> <label>Tipo de Documento: </label> {{ documento.tipo }} </p>
          <p> <label>Autor: </label> 
            {% for a in documento.autor.all %}
            {{ a }}
            {% endfor %}
          </p>
          <p> <label>Orientador: </label> {{ documento.orientador }} </p>
          <p> <label>Programa: </label> {{ documento.programa }} </p>
          <p> <label>Palavras-Chave: </label>
            {% for k in documento.keys.all %}
            {{ k }}
            {% endfor %}
          </p>
          <p> <label>Ano: </label> {{ documento.ano }} </p>
          {% if documento.file %}
          <p> <label>PDF: </label></p><a href="{{ documento.file.url }}" target="_blank" rel="noopener noreferrer"><i class="fas fa-file-pdf"></i></a>
          {% else %}
          Arquivo não disponível.
          {% endif %}
          <div class="row">
            
          </div>
          
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-outline-info" data-toggle="modal" data-target="#modalUpdate">Editar</a>
            <a href="#" class="btn btn-outline-danger" data-toggle="modal" data-target="#modalDelete">Excluir</a>
        </div>
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

<!--Modal Update-->
<div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'documento-update' documento.pk %}" method="post" id="form-documento" enctype="multipart/form-data">
              {% csrf_token %}
              <label>Título</label>
              <input type="text" class="form-control" name="titulo" value="{{ documento.titulo }}">
              <label>Arquivo</label>
              <input type="file" class="form-control" name="file" value="{{ documento.file }}">
              <label>Autor</label>
              <select name="autor" class="duallistbox" multiple="multiple" required>
                {% for a in autors %}
                  <option value="{{ a.matricula }}">{{ a.nome }}</option>
                {% endfor %}
              </select>
              <label>Programa</label>
              <select class="select2" multiple="multiple" data-placeholder="Selecione programa" style="width: 50%;" name="programa">
                {% for p in programas %}
                  <option value="{{ p.id }}">{{ p.nome }}</option>
                {% endfor %}
              </select>
              <label>Orientador</label>
              <select class="select2" multiple="multiple" data-placeholder="Selecione o Orientador" style="width: 50%;" name="orientador">
                {% for o in orientadors %}
                  <option value="{{ o.matricula }}">{{ o.nome }}</option>
                {% endfor %}
              </select>
              <label>Tipo</label>
              <select class="select2" multiple="multiple" data-placeholder="Selecione o tipo" style="width: 50%;" name="tipo">
                {% for t in tipos %}
                  <option value="{{ t.id }}">{{ t.nome }}</option>
                {% endfor %}
              </select>
              <label>Palavras-Chave</label>
              <select name="keys" class="duallistbox" multiple="multiple" required>
                {% for k in keys %}
                  <option value="{{ k.id }}">{{ k.nome }}</option>
                {% endfor %}
              </select>
              <label>Ano</label>
              <select class="select2" multiple="multiple" data-placeholder="Selecione o ano" style="width: 50%;" name="ano">
                {% for a in anos %}
                  <option value="{{ a.id }}">{{ a.ano }}</option>
                {% endfor %}
              </select>  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-info">Atualizar</button>
          </form>
        </div>
      </div>
    </div>
</div>

<!-- Modal Delete-->
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'documento-delete' documento.pk %}" method="post">
            {% csrf_token %}
            Realmente deseja excluir o <code>{{ documento.titulo }}</code> ?
            Essa ação não poderá ser desfeita!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-danger">Excluir</button>
          </form>
        </div>
      </div>
    </div>
</div>

{% endblock %}

{% block footer %}

    {% include 'layouts/footer.html' %}

{% endblock %}

{% block js %}

<!-- Select2 -->
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>

<!-- Bootstrap4 Duallistbox -->
<script src="{% static 'plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js' %}"></script>

<script>
  $(function () {
   //Initialize Select2 Elements
   $('.select2').select2()

   //Initialize Select2 Elements
   $('.select2bs4').select2({
     theme: 'bootstrap4'
   })
  }); 
</script>

<script>
   //Bootstrap Duallistbox
   $('.duallistbox').bootstrapDualListbox()
</script>

{% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
{% endif %}

{% endblock %}
